* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ubuntu', sans-serif;
    /* background: url("https://t4.ftcdn.net/jpg/04/03/62/35/360_F_403623508_OhrbkZ1zc2NzB9mN1d2ZcO1WrBDGKsxY.jpg"); */
    background: url("https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?size=626&ext=jpg");
    /* background: url("https://img.freepik.com/free-vector/abstract-geometric-wireframe-background_52683-59421.jpg?size=626&ext=jpg"); */
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 0;
    border: 2px solid #3a86ff;
    background-color: #3a86ff;
    padding: 20px 15px;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

nav span {
    padding: 0 10px;
}

#home {
    font-size: 20px;
    font-weight: 700;
}

#loging {
    width: 500px;
    min-height: 400px;
    margin: 60px auto;
    border: 2px solid #fff;
    padding: 20px 20px;
    background: transparent;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

h1 {
    margin-bottom: 20px;
}

label {
    margin: 10px;
    padding: 20px 0;
    font-size: larger;
    font-weight: 500;
}

input {
    width: 450px;
    height: 40px;
    padding: 5px 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin: 15px 5px;
    border-radius: 20px;
    font-size: large;
}

#btn1 {
    padding: 10px 0;
    width: 450px;
    border: 2px solid #0077b6;
    margin: 10px 2px;
    border-radius: 25px;
    background-color: #0077b6;
    color: white;
    margin-bottom: 30px;
}

#btn1:hover {
    cursor: pointer;
    padding: 12px 2px;
    transition: all 0.2s ease-in;
    background-color: #023e8a;
    border: 2px solid #023e8a;
}

a {
    text-decoration: none;
    color: #fff;
}

#copyright {
    text-align: center;
}